.section-title {
  /* Font */
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 115%;
  /* Size */
  max-width: 60%;
  width: 60%;
  margin: 0 auto 20px;
  padding: 0;
  /* Text position */
  text-align: center;
}
