.feynman {
  position: relative;
  padding-top: 100px;
  height: 100vh;
  min-height: 637px;
  max-height: 890px;
  background-image: url('../../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
}