.header {
  /* Position */
  position: relative;
  /* Display */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  /* Size */
  height: 100vh;
  min-height: 632px;
  max-height: 700px;
  padding: 31px 64px;
  /* Style */
  background-color: #f2f2f2;
  overflow: hidden;
}
