.link {
  /* Font */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* Style */
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .5s ease;
}

.link:hover {
  opacity: .6;
}
