.two-columns__brief {
  /* Display */
  flex-shrink: 0;
  /* Font */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* Style */
  color: #2f80ed;
  /* Size */
  width: 175px;
  margin: 0;
}
