.footer {
  /* Display */
  display: flex;
  justify-content: center;
  /* Size */
  min-height: 350px;
  height: 100%;
  padding: 60px 0 40px;
  /* Style */
  /*
    Этот цвет указан в фигме, не совсем понял, что значит "Цвет не из брифа"
    background: #1D1D1D;
 */
  background-color: #1d1d1d;
}
